

.header{
  text-align: center;
}

.footer {
  padding: 10px;
  position: fixed;
  text-align:right;
  background-color: rgba(0,0,0, 0.0);
  width: 100%;
  opacity: 0.9;
  bottom: 0;
  left:0;
}

.link {
  display: inline-block;
  padding: 20px;
  color: black;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}